<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewRDBeacon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E96F868F1E36EF0700C9B81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96F86A81E36EF0800C9B81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96F86B31E36EF0800C9B81D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
